@font-face {
   font-family: MyCustomFont;
   src: url('./static/font/one.ttf');
}

@font-face {
   font-family: MyCustomFonts;
   src: url('./static/font/two.ttf');
}

@font-face {
   font-family: MyserverFonts;
   src: url('./static/font/server.ttf');
}

.icon,
.iconfont {
   width: 1.2em;
   height: 1.2em;
   font-family: 'iconfont' !important;
   font-size: 16px;
   font-style: normal;
   -webkit-font-smoothing: antialiased;
   -webkit-text-stroke-width: 0.2px;
   -moz-osx-font-smoothing: grayscale;
}

/* // 黑夜边框颜色
border: 5px solid ;
  background: ;
    // 白天边框颜色
// border: 3px solid ;
// background: ;
白天 */
:root {
   --mine-back-color: #beced7;

   --mine-back-zq-color: #000000cf;
   --mine-back-zq-back: #beced6;

   --bk-back-color: #fff;
   --bk-font-color: #000000;
   --opsize: 0.4;
   --page: none;
   --back-op-color: rgba(255, 255, 255, 0.4);
   --bk-draw-back-color: #1cbefc;
   --back-darw-liner: linear-gradient(45deg, #f6dbe8, rgba(246, 219, 232, 0));

   --el-but-back: #49b1f5;
   --div-hover-color: #06c0b4;

   --cart-border-color: #48f3f7;
   --cart-back-color: rgba(188, 227, 236, 0.8);
   --cart-home-time-color: #858585;
   --cart-muisc-color: #000000cf;
   --cart-bgmuisc-bagk: #ffffff;
   --mart-top-pr-back: #ffffff;

   --mart-commment-bot-back: #f8f8f8;
   --datail-back-color: #ffffff5e;
}

/* 黑夜 */
[data-theme='dark'] {
   --mine-back-color: #1d1b26;

   --mine-back-zq-color: white;
   --mine-back-zq-back: #1d1b26;

   --back-darw-liner: linear-gradient(45deg, #0b2f40, #2a0f19);
   --bk-back-color: #000000;
   --bk-font-color: #fff;
   --opsize: 0.4;
   --page: rgba(0, 0, 0, 0.4);
   --back-op-color: rgba(0, 0, 0, 0.6);
   --bk-draw-back-color: rgba(255, 255, 255, 0.4);
   --el-but-back: #1f1f1f;

   --cart-border-color: #2eada7;
   --cart-back-color: rgba(1, 18, 23, 0.8);
   --cart-muisc-color: #ffffff;
   --cart-bgmuisc-bagk: #333333;
   --mart-top-pr-back: #1e1e1e;
   --mart-commment-bot-back: #272727;
   --datail-back-color: #232326;
}

body {
   width: 100vw;
   height: 100vh;
   background: var(--bk-back-color);
   color: var(--bk-font-color);
   font-size: 14px;
}

* {
   --el-menu-hover-bg-color: none !important;
   padding: 0;
   transition:
      background-color 0.5s ease,
      color 0.1s ease;
   --Size: 14;
   margin: 0;
   --color-title: #1cbefc;
}

.fade-in {
   animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

/* WebKit 浏览器（Chrome, Safari） */
::-webkit-scrollbar {
   width: 5px;
   /* 垂直滚动条宽度 */
   height: 5px;
   /* 水平滚动条宽度 */
}

::-webkit-scrollbar-track {
   background: #192d3b;
}

::-webkit-scrollbar-thumb {
   background: var(--color-title);
}

::-webkit-scrollbar-thumb:hover {
   background: var(--color-title);
}

/* Firefox */
.scrollable-element {
   scrollbar-width: thin;
   /* 滚动条宽度为细 */
   scrollbar-color: #888 #f1f1f1;
   /* 滚动条拇指和轨道的颜色 */
}

/* 为特定元素设置样式 */
.scrollable-element::-webkit-scrollbar {
   width: 5px;
}

.scrollable-element::-webkit-scrollbar-track {
   background: #f1f1f1;
}

.scrollable-element::-webkit-scrollbar-thumb {
   background: #888;
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
   background: #555;
}

/*el组件样式覆盖*/
.el-drawer__body {
   padding: 0 !important;
   /* 使用 !important 确保覆盖默认样式 */
}

.el-button,
.el-button.is-round {
   background: var(--el-but-back) !important;
   color: var(--bk-font-color) !important;
}

.el-submenu__title:hover,
.el-menu-item:focus,
.el-menu-item:hover {
   background-color: none;
}

/*输入框样式*/

input {
   outline: none;
   /* 清除聚焦时的外边框 */
   background-color: transparent;
   /* 清除背景颜色 */
   padding: 0;
   /* 清除填充 */
   margin: 0;
   /* 清除外边距 */
   font-family: inherit;
   /* 继承字体 */
   font-size: inherit;
   /* 继承字体大小 */
   color: inherit;
   /* 继承字体颜色 */
}

/* MD样式 */

/* 代码块 */

.mkdir {
   display: flex;
   flex-direction: column;

   & > p > img {
      width: 50%;
      display: block;
      border-radius: 15px;
      width: 100%;
      margin: 0.5em auto;
   }

   & > h1:nth-child(n + 2) {
      margin-top: 1em;
   }

   & > h2:nth-child(n + 2) {
      margin-top: 0.5em;
   }

   & > h2:nth-child(n + 2) {
      margin-top: 0.25em;
   }

   & > p {
      width: 100%;
   }

   & > h1 {
      color: #06c0b4;
   }

   & > h2 {
      color: #1b7e78;
   }

   & > h3 {
      color: #0d3936;
   }

   & ul,
   ol {
      list-style: none;
   }
}

/* 代码块样式 */
.code-block {
   position: relative;

   margin: 0.5em 0;
   flex: 1;
}

.code-block pre {
   padding: 1em;
   background-color: black;
   border: 1px solid #ccc;
   border-radius: 15px;
   overflow: auto;
}

.code-block pre code {
   display: block;
}

/* 行号样式 */
.line-number {
   display: inline-block;
   width: 1em;
   user-select: none;
   opacity: 0.5;
   text-align: right;
   margin-right: 1em;
   color: #999;
}

/* 复制按钮样式 */
.copy-btn {
   position: absolute;
   top: 0.5em;
   right: 0.5em;
   padding: 0.5em;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.copy-btn:hover {
   background-color: #0056b3;
}

.copy-btn:focus {
   outline: none;
}

/* 复制成功样式 */
.copy-btn.copied {
   background-color: #28a745;
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
}
